html {
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cornflowerblue;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title,
#comment,
#tag {
  display: flex;
  width: 100%;
  border: 2px solid cornflowerblue;
  color: darkblue;
}

#submit-btn {
  cursor: pointer;
  background-color: rgb(144, 180, 247);
  margin: 10px;
}

#submit-btn:hover {
  background-color: cornflowerblue;
}
