html {
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
}

.todo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title, #comment {
  display: flex;
}