html {
  margin: 0 auto;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cornflowerblue;
} */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cornflowerblue;
}

.button-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.nav-button {
  border: cornflowerblue;
  border-radius: 20px;
  padding: 10px;
  color: aliceblue;
  cursor: pointer;
  background-color: rgb(144, 180, 247);
  margin: 20px;
}

.nav-button:hover {
  background-color: cornflowerblue;
}


.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overview-card {
  color: rgb(48, 47, 47);
}

img {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title,
#description,
#tag {
  display: flex;
  width: 100%;
  border: 2px solid cornflowerblue;
  color: darkblue;
}

#submit-btn {
  cursor: pointer;
  background-color: rgb(144, 180, 247);
  margin: 10px;
}

#submit-btn:hover {
  background-color: cornflowerblue;
}
